 .NavbarHome{
    position: sticky;
    top: 0;
    background-color: white;
     
    /* border: 5px solid black; */
    z-index: 1;
 
 }
 .homeMain{
   display: flex;
    width: 100%;
    position: relative;
    background-color: RGB(238 240 243);
    /* border: 5px solid black; */
 }
 .homeMainMid1{
   width: 45%;
   left: 0;
 }
 .homeMainMid2{
   width: 55%;
 }
 .homeMid1{
   margin-top: 200px;
   height: 300px;
   margin-left: 0;
     
 }