.homeNavMain{
    display: flex;
    height:70px;
    box-shadow: 0px 0px 5px RGB(170 187 204);
    /* z-index: 50; */
    /* position:sticky; */
    top: 0;
}
.kooLogo{
    width:40%;
    
    /* border:5px solid red */
}
.homeNav{
    display: flex;
    width:60%;
    /* border:5px solid black */
}
.homeNavIcons{
    width:60%;
    /* border:5px solid red; */
    display:flex;
    align-items: center;
    /* gap: 10%; */
    justify-content: space-around;
    border-right: 1px solid RGB(170 187 204);
}
.homeNavBarcode{
    width: 40%;
    /* border:5px solid blueviolet; */
    display: flex;
    align-items: center;
}
.iconNavHome{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
     justify-content: center;
}
.iconNavHome:hover{
   background-color: RGB(170 187 204); 
}
@media screen {
    
}