*{
    margin: 0;
    padding: 0;
}


.NavbarMain{
    display:flex;
    width: 100%;

    
    


}
.sideBarLeft{
    display:grid;
    width: 20%;
    box-shadow: 10px 10px 5px white;
    background-color: white;
    /* height:800px; */
  
}
.main{
    display: flex;
    padding: 10px;
    margin: 0 auto;
    width: 70%;
}
.icon{
    padding: 6px
}
.text{
    width: 100%;
}
.NavbarLink{
    display:grid;
    /* height:400px; */
    color:black;
    background-color: white;
    /* border: 3px solid blue; */
    align-items: center;
   font-size:18px;
 

}

.main:hover{
     background-color:#F8f7f3;
     border-radius: 20px;
 
     opacity: 0.4px;
}
.NavbarComp{
    width: 50%;
     margin: auto;
     background-color:#F8f7f3;
    
    
}
.NavbarSidebar{
    width: 30%;
    background-color: white;

}
.NavbarLogo{
    width:30%;
    height:100px;
    padding: 10px;
    margin: auto;
}
.navLogo{
    width:100%;

}
.btn:hover{
  opacity: 0.1px;
  padding: 5px;
  font-size: 25px;
}
.main1{
    display: flex;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    
}
.heading{
    width: 80%;
    text-align:left;
    padding: 6px;

}
.i{
    width: 20%;
    padding:5px;
    margin-left:100px;
    
    padding-left: 20px;
}
.TrendingSideBar{
    width:90%;
    height:600px;
    margin: auto;
}
.T1{
    border-radius: 5px solid rgb(146, 134, 134);
    background-color:#F8f7f3;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    height: 100px;
}

.TreImage{
    height: 40px;
    margin-left:20px;
    
   
}
.im{
 

    margin-left: -10px;
}
.path{
    display: flex;
  
    align-items: center;
    justify-content: space-around;
    
}

.path:hover{
    text-decoration: underline;
}
.circle{
   
    width:10%;
  
    border: 2px solid gray;
    float: left;
    color: gray;
    margin-left: 12px;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    border: none;

}
.sideMain{
   
    width: 80%;
    float: left;
}
.SearchIcon{
    position: relative;
    margin-top: 30px;
    display: flex;
    
}
.Search{
    position: absolute;
    margin-left:35px;
    margin-top: 25px;

}
.InputSearch{
    line-height: 2rem;
    border-radius: 10px;
    padding: 0.2rem 2rem;
    font-size: 1.2rem;
    z-index: 1;
    margin-left: 33px;
    padding-left:30px;
    position: absolute;

}
.MicroPhone{
    position: absolute;
    margin-left:350px;
    margin-top: 22px;
    z-index: 1;
}
.UpperNav{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    top:0px;
    position:sticky;
    background-color: white;
    color: rgb(10, 10, 10);
    font-size: 18px;
    z-index: 1;
}
.Video{
    margin: auto;
}

.Card{
    background-color: white;
    
}
.CardMain{
    width: 100%;
    height: 50px;
    margin: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.CardImage{
    width:10%;
    border: 2px solid black;
}
Image{
    width: 100%;
    height: 100%;
}
.CardHead{
    width: 70%;
    border: 2px solid yellow;

}
i{
    float: left;
}
b{
    float: left;
}
.Intro{
    margin: auto;
    width: 90%;

}
.Intro p{
    text-align:left;
    line-height:40px;
}
.Post{
   
 display: flex;
 position: relative;
   
}

.PostSearch{
  border:2px solid red;
}
.PostUser{
    width: 5%;
    position: absolute;
    left: 0px;
    z-index: 1;
    height: 100%;
}
.PostAdd{
    width: 5%;
 /* border: 2px solid blue; */
 position: absolute;
 right: 0px
}
.follow{
    background-color:antiquewhite;
    padding: 10px;
    height: 200px;
    border-radius: 20px;
}
.cards-container {
    display: flex;
    border-radius: 6px;
    color: #333;
    background: #eee;
    padding: 1rem;
    
    overflow-x: auto;
    position: relative;
}
.follow{
    width:90%;
    margin: auto;
    margin-top: 20px;
    background-color:white;
    height:100px;
    border-radius: 10px;
    text-align: center;
    
    
}