.g-loading-gif {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: "Avenir", sans-serif;
  color: #33475b;
  margin-top: 100px;
}

.g-loading-gif > div {
  display: flex;
  justify-content: center;
}

.g-loading-gif > div > img {
  width: 60%;
}

@media  screen and (max-width: 767px){

  .g-loading-gif {
    width:100%;
    padding: 5%;

  }

}
